@font-face {
  font-family: "iconfont"; /* Project id 3303276 */
  src: url('iconfont.woff2?t=1652614454281') format('woff2'),
       url('iconfont.woff?t=1652614454281') format('woff'),
       url('iconfont.ttf?t=1652614454281') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoshilei_yonghuzu:before {
  content: "\e61b";
}

.icon-bianjiqi:before {
  content: "\e64f";
}

.icon-pinglun:before {
  content: "\e632";
}

.icon-alerting-solid:before {
  content: "\e871";
}

.icon-user-solid:before {
  content: "\e6d6";
}

.icon-curve:before {
  content: "\e67e";
}

.icon-goup:before {
  content: "\e653";
}

.icon-alerting:before {
  content: "\e634";
}

.icon-write:before {
  content: "\e612";
}

.icon-write-article:before {
  content: "\e62f";
}

.icon-category:before {
  content: "\e6e0";
}

.icon-blog-mgr:before {
  content: "\e6e7";
}

.icon-article:before {
  content: "\e607";
}

.icon-add-fav:before {
  content: "\e690";
}

.icon-Number:before {
  content: "\e614";
}

.icon-down-solid-arrow:before {
  content: "\eb6d";
}

.icon-right-arrow:before {
  content: "\eb08";
}

.icon-home:before {
  content: "\e62c";
}

.icon-bell:before {
  content: "\e62d";
}

.icon-search:before {
  content: "\e62e";
}

.icon-arrow:before {
  content: "\e635";
}

.icon-question:before {
  content: "\e64b";
}

.icon-bookmark:before {
  content: "\e604";
}

.icon-delete:before {
  content: "\e609";
}

.icon-project:before {
  content: "\e64a";
}

.icon-menu:before {
  content: "\e637";
}

.icon-log:before {
  content: "\e649";
}

.icon-lock:before {
  content: "\e608";
}

.icon-user:before {
  content: "\e61d";
}

.icon-remove:before {
  content: "\e627";
}

.icon-trash:before {
  content: "\e63a";
}

.icon-eye-show:before {
  content: "\e60b";
}

.icon-eye-hide:before {
  content: "\e60f";
}

.icon-edit:before {
  content: "\e625";
}

.icon-add:before {
  content: "\e605";
}

.icon-user-circle:before {
  content: "\e623";
}

.icon-gift:before {
  content: "\e650";
}

