@import 'normalize.css'; 

* {margin:0;padding:0;} 
html, body {height: 100%;}
body, code{
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
body, div, dl, dt, dd, ul, ol, li,  h4, h5, h6, pre, form, fieldset, p, b, blockquote, table, th, img, font, hr{margin:0;padding:0;font-size: 14px;}
ul,ol,li{list-style: none;}
img {border: none;vertical-align: middle; -ms-interpolation-mode: bicubic;}
label{display:inline-block;}
em{font-style: normal;}

input,button,select,textarea{outline:none;}
input,textarea{background: none !important;}
input::-ms-clear{display:none;}
::-ms-clear { display: none; }
::-ms-reveal { display: none; }

a{
  color: var(--link-color);
  outline: 0;
  text-decoration: none;
  text-underline-position: under
}

:focus:not(:focus-visible) {
  outline: 0
}

input:focus,textarea:focus {
  outline: 0
}

.clearfix{display: block;}
* html .clearfix{height: 1%;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.posr{position: relative;}
.hide{display: none;}
.txtjustify{text-align:justify;text-justify:distribute;}
.txtellipsis{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

/*全局滚动条的设置*/
::-webkit-scrollbar {
    height: 6px !important;
    width: 6px !important;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    width: 4px;
    min-height: 15px;
    background: rgba(178,178,183, 0.6) !important;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

/*flex: row, column布局布局*/
.g-flex-rsc, .g-flex-rec, .g-flex-rcc, .g-flex-rsbc, .g-flex-rsac, .g-flex-rsbs, .g-flex-rss,
.g-flex-csc, .g-flex-ccc, .g-flex-csbc, .g-flex-csac, .g-flex-ccs{
  display: flex;
  align-items: center;
}

.g-flex-csc, .g-flex-ccc, .g-flex-csbc, .g-flex-csac, .g-flex-ccs{
  flex-direction: column;
}

.g-flex-rsc, .g-flex-rss, .g-flex-csc{
  justify-content: flex-start;
}

.g-flex-rec{
  justify-content: flex-end;
}

.g-flex-rcc, .g-flex-ccc, .g-flex-ccs{
  justify-content: center;
}

.g-flex-rsbc, .g-flex-rsbs, 
.g-flex-csbc{
  justify-content: space-between;
}

.g-flex-rsac, .g-flex-csac{
  justify-content: space-around;
}

.g-flex-rsbs, .g-flex-rss, .g-flex-ccs{
  align-items: flex-start;
}

body{
  min-width: 1200px;
}

/*动画相关*/
// animation: shadow-pulse 1s infinite;
// 由近及远, 水波风格消失
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
     }
}
/*动画相关*/

