@mixin mixin-clearfix{
    content: "";
    display: block;
    height: 0px;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}

@mixin shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}